body {
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0px;
  padding: 0;
}

.header {
  display: flex;
  color: #f9faf8;
  background-color: #1f2937;
  justify-content: center;
  align-items: center;
  padding: 0 15vw;
  font-size: 24px;
  font-weight: 800;
  height: 32px;
}

ul {
  margin-left: auto;
  display: flex;
  list-style-type: none;
  gap: 16px;
}

li {
  font-size: 16px;
  font-weight: normal;
}
.content {
  display: flex;
  color: #f9faf8;
  background-color: #1f2937;
  justify-content: center;
  align-items: center;
  padding: 60px 15vw;
}

.rightside {
  margin-left: auto;
  width: 500px;
  height: 300px;
  background-color: lightgray;
}

h1 {
  font-size: 48px;
  font-weight: 900;
}

.leftside {
  width: 500px;
  height: 300px;
}

.info {
  height: 420px;
  display: flex;
  flex-direction: column;
}

h2 {
  text-align: center;
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
}

.blocks img {
  height: 100px;
  width: 100px;
}

.blocks {
  display: flex;
  justify-content: center;
  gap: 48px;
  padding-top: 40px;
}

.block {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 200px;
  flex: 0 0 auto;
}
